
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tableau</title>
</head>
<body>
    <div> 
        Hej
    </div>
</body>
</html>
