@model GruppG.Models.db.Program



<table style="font-family:Arial; border:1px solid grey; width: auto">
    <tr>

        <td>
            <table>
                
                <tr>
                <td><strong>Program: </strong></td>
                <td> @Model.Titel</td>
                </tr>
                <tr>
                    <td><strong>Datum & tid: </strong></td>
                    <td> @Model.Starttime</td>
                </tr>
                <tr>
                    <td>Test (kanal):</td>
                    <td> @Model.Chanel</td>
                </tr>
                </table>
        </td>
    </tr>
</table>




