@model GruppG.Models.db.Person
@{
    ViewBag.Title = "Mina sidor";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/LogIn");
    }
}

<h2>MyPage</h2>

<p>
    @*Welcome @Session["UserName"].ToString();*@
</p>

<div>
    
        @Html.DisplayNameFor(model => model.FirstName)
    @Model.FirstName
    
</div>

<div class="col-md-4">
    
    
    @*@Html.ActionLink("Mer information", "PartialViewChannels", new { @id = item.Id }, null)*@
     
    

</div>



@*@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Name) <a>Lägg till som favoritkanal</a>
        </li>
      
    </ul>

}*@




