@model GruppG.Models.db.Person

<ul>
    <li>
        @Html.DisplayFor(p => p.FirstName)
    </li>
</ul> 

<p>
    Welcome @Session["UserName"].ToString();
</p>

@*@Html.DisplayFor(modelItem => item.Chanel1.Name)*@
