@model IEnumerable<GruppG.Models.db.Program>


<table class="table">
    <tr>
        <th>
            <p>Program</p>
        </th>
        <th>
            <p>Tid</p>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Titel</td>

            <td>
                @*@item.Starttime.Value.ToShortDateString()*@
                @item.Programstart.Value.ToShortTimeString()
            </td>

            <td>
                @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null)
            </td>
        </tr>
    }

</table>
