@model IEnumerable<GruppG.Models.db.Program>

@{
    ViewBag.Title = "Admin";
    if (Session["Id"] == null)
    {
        Response.Redirect("~Login/LogInAdmin");
    }
}

<h2>Administrering av program</h2>

<table class="table">
    <tr>
        <th>
            <p>Program</p>
        </th>

        @*<th>
                <p>Kanal</p>
            </th>*@

        <th>
            <p>Datum</p>
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td> @item.Titel</td>

            <td> @item.Starttime.Value.ToShortDateString()</td>

            <td> @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null )</td>

            <td> @Html.ActionLink("Redigera", "AdminProgramEdit", new { @id = item.Id }, null)</td>

            
            
        </tr>

                                    }

</table>


