@{
    ViewBag.Title = "Kontakt";
    
}
<div>
    @*<h3>@ViewBag.Title</h3>*@
    <br />
    <h4>@ViewBag.Message</h4>


    <br />
    <address>
        <strong>Lena Berglund:</strong>   <a href="mailto:lebe1006@student.miun.se">lebe1006@student.miun.se</a><br />
        <strong>Nadia Dahlgren:</strong> <a href="mailto:nada1600@student.miun.se">nada1600@student.miun.se</a>
    </address>
</div>