@{
    ViewBag.Title = "Kontakt";
}
<h3>@ViewBag.Title.</h3>
<h3>@ViewBag.Message</h3>

<address>
    Lena Berglund<br />
    Nadia Dahlgren<br />
</address>

<address>
    <strong>Lena:</strong>   <a href="mailto:lebe1006@student.miun.se">lebe1006@student.miun.se</a><br />
    <strong>Nadia:</strong> <a href="mailto:nada1600@student.miun.se">nada1600@student.miun.se</a>
</address>