@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <h4>Nyhetspuffar</h4>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 1</p>
    </div>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 2</p>
    </div>
    <div class="nyhetspuff">
        <p class="lead">Nyhetspuff 3</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SVT1</h2>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> 
            vi kan använda oss av "btn btn-default"-classen-->
    </div>
    <div class="col-md-4">
        <h2>SVT2</h2>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>TV3</h2>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>TV4</h2>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Kanal 5</h2>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>