@model IEnumerable<GruppG.Models.db.Program>

@{
    ViewBag.Title = "Kanal5";
}


<table class="table">
    <tr>
        <th>
            <p>Program</p>
        </th>

        @*<th>
            <p>Kanal</p>
        </th>*@

        <th>
            <p>Datum & tid</p>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td> @item.Titel</td>

            <td> @item.Starttime</td>
            
            <td>
                @Html.ActionLink("Mer info", "Details", new { id = item.Id })
            </td>
        </tr>

    }

</table>

