@model IEnumerable<GruppG.Models.db.Chanel>
@{
    ViewBag.Title = "Mina sidor";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<h2>MyPage</h2>

@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Name) <a>Lägg till som favoritkanal</a>
        </li>
    </ul>

}


