@model IEnumerable<GruppG.Models.db.Program>

@{
    ViewBag.Title = "PartialViewTV3";
}

@*<h2>PartialViewTV3</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


@foreach (var item in Model)
{
    <table>
        <tr>

            <td>
                <table>

                    <tr>
                        <td><strong>Program: </strong></td>
                        <td> @item.Titel</td>
                    </tr>
                    <tr>
                        <td><strong>Datum & tid: </strong></td>
                        <td> @item.Starttime</td>
                    </tr>
                    <tr>
                        <td>Test (kanal):</td>
                        <td> @item.Chanel</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


}

