@model IEnumerable<GruppG.Models.db.Program>

@{
    ViewBag.Title = "SVT2";
}


<table class="table">
    <tr>
        <th>
            <p>Program</p>
        </th>

        <th>
            <p>Tid</p>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td> @item.Titel</td>

            <td> @item.Programstart.Value.ToShortTimeString()</td>


            <td>
                @Html.ActionLink("Mer info", "ProgramDetails", new { id = item.Id })


            </td>

        </tr>

    }

</table>

