@model IEnumerable<GruppG.Models.db.Chanel>

@{
    ViewBag.Title = "Channels";
}

<h2>Kanaler</h2>

<table class="table">
    <tr>
        <th>
            <p>Program</p>
        </th>

        

        <th>
            <p>Datum</p>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td> @item.Name </td>

            <td> @Html.ActionLink("Mer information", "ProgramDetails", new { @id = item.Id }, null)</td>

            <td> @Html.ActionLink("Redigera", "AdminProgramEdit", new { @id = item.Id }, null)</td>



        </tr>

    }

</table>


